* {
	color: black;
}

body{
  background-color: #fafafa;
}
.mainBody{
  width: 65%;
  height: 200px;
  margin: auto;
  margin-top: 30px;
  background-image: none;
  background-repeat: no-repeat;
}

.message{
  display: block;
  width: 95%;
  margin: auto;
  margin-top: 15px;

  padding-top : 10px;
  padding-bottom : 10px;
  padding-left : 5px;
  padding-right : 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  background-color: #ffffff;
}


.error{
  color: red;
}

.navBig{
  position: fixed;
  left: 0%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);

}

.navSmall{
  display: none;
  background-color: #ffffff;
  width: 95%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
}


h3{
  margin-top: 0px;
  margin-bottom: 8px;
}


header{
  width: 60%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.2);
  padding-top : 10px;
  padding-bottom : 10px;
  padding-left : 5px;
  padding-right : 5px;
  overflow: hidden;
  margin: auto;
  margin-top: 15px;
}


textarea{
  width: 25em;
  height: 9em;
}

input[type="file"]{
	display: none;
}


img {
  float: left;
  max-height: 200px;
  margin-right: 20px;
  width: auto;
}

.modal-content{
	display: inline-block;
	max-width: none;
	max-height: none;
	background-color: transparent;
	border: 0px;
	margin: auto;
	width: auto;
	height: auto;
}

.bigImage{
	max-height: none;
	margin: auto;
}


.texte {
  text-align: justify;
  margin-right: 5px; 
  margin-left: 5px; 
}

.msgFooter{
  clear: left;
  padding-top: 20px;
}

.msgFooter div:first-child{
  float: left;
}

.msgFooter label{
  float: right;
}
.N {
  color: black;
}

.F {
  color: pink;
}

.H {
  color: blue;
}

.toggleComments{
  position: absolute;
  left: -1000px;
}

.commentaires {
  display: none;
  border-top: 2px solid black;
  margin-top: 100px;
  margin-bottom: 5px;
  clear: left;
  clear: right;
  float: none;
}

.toggleComments:checked ~ .commentaires {
  display: block;
  
}

h4{
  margin-top: 0px;
  margin-bottom: 5px;
}
.navBig{
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}

.navBig ul{
  margin: 0px;
  padding: 10px;
  list-style: none;
}

.navBig ul li{
  font-size: 20px;
}


@media (max-width:800px) {
  .mainBody{
    width: 100%;
  }

  .navSmall{
    display: block;
  }

  .message{
    width: 95%;
  }
  
  header {
	  width: 95% !important;
  }

  .navBig{
    display: none;
  }

  .img{
    display: block;
    float: none;
    margin: auto;
  }

  .texte{
    display: block;
    float: none;
    width: 100%;
    padding: 5px;
  }

  .msgFooter{
    display: block;
  }

  .msgFooter div:first-child{
    float: none;
  }

  .msgFooter label{
    float: none;
  }

  .commentaires {
    margin: auto;
  }
}